
    <!-- MAIN -->
    <main class="site-main contact-us">
        <div class="container">
            <ol class="breadcrumb-page">
                <li><a href="#">Home </a></li>
                <li class="active"><a href="#">Contact Us</a></li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <div class="contact-map full-width">
                    <div class="google-map">
                        <div class="volazj-google-maps" id="volazj-google-maps" data-hue="" data-lightness="1" data-map-style="2"
                             data-saturation="-99" data-longitude="-73.985130" data-latitude="40.758896" data-pin-icon=""
                             data-zoom="14" data-map-type="ROADMAP"></div>
                        <span class="fa fa-map-marker"></span>
                    </div>
                </div>
                <form class="form-contact" action="#" method="post">
                    <div class="col-md-5">
                        <div class="contact-info">
                            <h5 class="title-contact">Leave a Message</h5>
                            <p class="form-row form-row-wide">
                                <label>Name<span class="required">*</span></label>
                                <input type="text" value="" name="text" placeholder="First name" class="input-text">
                            </p>
                            <p class="form-row form-row-wide">
                                <label>Email<span class="required">*</span></label>
                                <input type="email" value="" name="text" placeholder="First name" class="input-text">
                            </p>
                            <p class="form-row form-row-wide">
                                <label>Number Phone<span class="required"></span></label>
                                <input type="text" value="" name="text" placeholder="First name" class="input-text">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="form-row form-row-wide form-text">
                            <label>Comment<span class="required"></span></label>
                            <textarea title="message" aria-invalid="false" class="textarea-control" rows="5" cols="40"
                                      name="message"></textarea>
                        </p>
                        <p class="form-row">
                            <input type="submit" value="Submit" name="Submit" class="button-submit">
                        </p>
                    </div>
                </form>
                <div class="col-md-3 contact-detail">
                    <h5 class="title-contact">Contact Detail</h5>
                    <div class="contacts-info ">
                        <div class="contact-icon"><i class="flaticon-email" aria-hidden="true"></i></div>
                        <h4 class="title-info">Email</h4>
                        <div class="info-detail"> Support1@Furnituremini.com</div>
                    </div>
                    <div class="contacts-info ">
                        <div class="contact-icon"><i class="flaticon-telephone" aria-hidden="true"></i></div>
                        <h4 class="title-info">Phone</h4>
                        <div class="info-detail">0123-465-789-111</div>
                    </div>
                    <div class="contacts-info ">
                        <div class="contact-icon"><i class="flaticon-placeholder" aria-hidden="true"></i></div>
                        <h4 class="title-info">Mail Office</h4>
                        <div class="info-detail">Sed ut perspiciatis unde omnis Street Name, Los Angeles</div>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- end MAIN -->
