<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from ledthanhdat.vn/html/volazj/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Apr 2022 17:06:45 GMT -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Volazj</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/fonts/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/chosen.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.bxslider.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/fancybox/source/helpers/jquery.fancybox-thumbs.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
</head>
<body class="index-opt-1">
    <div class="wrapper">
        <form id="block-search-mobile" method="get" class="block-search-mobile">
            <div class="form-content">
                <div class="control">
                    <a href="#" class="close-block-serach"><span class="icon flaticon-close"></span></a>
                    <input type="text" name="search" placeholder="Search" class="input-subscribe">
                    <button type="submit" class="btn search">
                        <span><i class="flaticon-magnifying-glass" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>
        </form>
        <div id="block-quick-view-popup" class="block-quick-view-popup">
            <div class="quick-view-content">
                <div class="slide-quick">
                    <div class="product-thumbs">
                        <a href="#" class="img-product-thumb"><img src="~/Content/images/s-pop1.jpg" alt="p1"></a>
                        <a href="#" class="img-product-thumb"><img src="~/Content/images/s-pop2.jpg" alt="p1"></a>
                        <a href="#" class="img-product-thumb"><img src="~/Content/images/s-pop3.jpg" alt="p1"></a>
                        <a href="#" class="img-product-thumb"><img src="~/Content/images/s-pop4.jpg" alt="p1"></a>
                    </div>
                </div>
                <div class="product-items">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/images/popup-pro.jpg" alt="p1"></a>
                    </div>
                    <div class="product-info">
                        <div class="product-name"><a href="#">Fleece Sofas</a></div>
                        <span class="star-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="review">5 Review(s)</span>
                        </span>
                        <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                        <div class="product-infomation">
                            Description Our new HPB12 / A12 battery is rated at 2000mAh and designed to power up Black and
                            Decker FireStorm line of 12V tools allowing...
                        </div>
                    </div>
                    <div class="product-info-price">
                        <span class="price">
                            <ins>$229.00</ins>
                            <del>$259.00</del>
                        </span>
                        <div class="quantity">
                            <h6 class="quantity-title">Quantity:</h6>
                            <div class="buttons-added">
                                <input type="text" value="1" title="Qty" class="input-text qty text" size="1">
                                <a href="#" class="sign plus"><i class="fa fa-plus"></i></a>
                                <a href="#" class="sign minus"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <a href="#" class="btn-add-to-cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADER -->
        @Html.Partial("Header_Layout")<!-- end HEADER -->
        <!-- MAIN -->
         <div class="content">
            @RenderBody()
        </div>
            
        <!-- end MAIN -->
        <!-- FOOTER -->
        @Html.Partial("Footer_Layout")
        <!-- end FOOTER -->
    </div>
    <a href="#" id="scrollup" title="Scroll to Top">Scroll</a>
    <!-- jQuery -->
    <script type="text/javascript" src="~/Scripts/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.elevateZoom.min.js"></script>
    <script src="~/Scripts/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
    <script type="text/javascript" src="~/Scripts/js/function.js"></script>
    <script type="text/javascript" src="~/Scripts/js/Modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.countdown.js"></script>
    <script src="~/Scripts/js/jquery-1.7.2.min.js"></script>
    
</body>

<!-- Mirrored from ledthanhdat.vn/html/volazj/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Apr 2022 17:07:46 GMT -->
</html>